In [2]:
#Addition
def add(a,b):
  sum=a+b
  return sum
add(5,4)

9

In [3]:
#Substraction
def sub(a,b):
    x=b-a
    return x
y=sub(5,45)
print(y)

40

In [4]:
#Multiplaction
def mul(a,b):
    sum=a*b
    return sum
x=mul(5,8)
print(x)

40

In [ ]:
#Square
def square(a):
    sum=a*a
    return sum
x=square(5)
print(x)

In [ ]:
#Divition
def div(a,b):
    sum=a/b
    return sum
x=div(45,4)
print(x)

Taking user input

In [1]:
number=int(input("Enter the number: "))
def even_odd(number):
    if number % 2 ==0:
        print("Even")
    else:
        print("Odd")

even_odd(number)

Enter the number: 4
Even

Checking prime number

In [5]:
def is_prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
        return True
n=int(input("Enter a number: "))
if is_prime(n):
    print(f"{n} is a prime number")
else:
    print(f"{n} is not a prime number")

Enter a number: 6
6 is not a prime number

Write a Python function to find the maximum of three numbers.

In [1]:
def maxnum(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    elif z>x and z>y:
        return z
    else:
        pass

n=maxnum(45,76,90)
print(n)

90

Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)

In [2]:
def sum(a,b,c,d,e):
    total=a+b+c+d+e
    return total
n=sum(8,2,3,0,7)
print(n)

20

Write a Python program to reverse a string.
Sample String : "1234abcd"

In [3]:
def revrs(str):
    rstr=''
    index=len(str)
    while index>0:
        rstr += str[index-1]
        index=index-1
    return rstr
print(revrs('1234abcd'))

dcba4321

 Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
def fact(n):
    if (n==0) or (n==1):
        return 1
    else:
        return n*fact(n-1)
n=int(input("Enter the number: "))
print(fact(n))

Enter the number: 5
120

 Write a  Python function to check whether a number falls within a given range.

In [5]:
def inrange(n):
    if n in range(4,8):
        print("In range")
    else:
        print("Not in range")
n=int(input("Enter the number: "))
print(inrange(n))

Enter the number: 7
In range
None



Write a Python function that accepts a string and counts the number of upper and lower case letters.

In [6]:
def count_charecter(s):
    t={'upper':0,"lower":0}
    for i in s:
        if i.isupper():
            t['upper']+=1
        elif i.islower():
            t["lower"] +=1
        else:
            pass
    print("Orginal Text is: ",s)
    print("Upper case: ", t['upper'])
    print("Lower case: ",t["lower"])
count_charecter(input("Enter the text: ") )

Enter the text: AsifikbaL
Orginal Text is:  AsifikbaL
Upper case:  2
Lower case:  7

Write a  Python function that takes a list and returns a new list with distinct elements from the first list.

In [7]:
def uniqque_list(l):
    x=[]
    for s in l:
        if s not in x:
            x.append(s)
    return x
print(uniqque_list([1, 2, 3, 3, 3, 3, 4, 5]))

[1, 2, 3, 4, 5]

Write a  Python program to print the even numbers from a given list.

In [ ]:
def is_even(n):
    x=[]
    for i in n:
        if i%2==0:
            x.append(i)
        else:
            pass
    return x
print(is_even([1, 2, 3, 4, 5, 6, 7, 8, 9]))